<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <a href="{% url 'product_list'%}" style="margin-right:20px; margin-top: 10px; text-decoration: none;">Home</a>
        <a href="#" style="margin-right:20px; margin-top: 10px; text-decoration: none;">Contact</a>

        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>