<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Construction Supplies</title>
    <style>
        body{
            background-color: beige;
        }
        h2{
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(10, 9, 9);
        }
        table{
            border: 2px solid rgb(157, 211, 227) !important;
        }
        tbody tr th{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
            font-weight: 500 !important;
        }
        
    </style>
</head>
<body>
    
{% block body%}{% endblock %}
{% block footer%} {% endblock %}
    
</body>
</html>
