{% extends 'base.html' %}
{% block body %}
    <div class="container" style="width:80%; margin:auto;">
        <a class='btn btn-primary' style='margin-bottom:20px;'href="{% url 'create-list' %}"> Add Product</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Supplier
                    </td>
                    <td>
                        Image
                    </td>
                </tr>
            </thead>
            <tbhody>
                {% for product in products %}
                <tr>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>
                    <td>
                        {{ product.supplier }}
                    </td>
                    {% if product.image %}
                    <td>
                        <img src="{{ product.image.url }}" alt="Profile Image" class='rounded-circle'>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'includes/pagination.html' %}
{% endblock %}
